*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* inizio header */
header{
    height: 75px;
    background-color: white;
}

#logo{
    padding: 10px 0;
    margin: 3px 0 3px 13px;
    vertical-align: middle;
}

#toboolist{
    font-size: 35px;
    vertical-align: middle;
}
/* fine header */

/* inizio main */
main{
    padding-top: 30px;
    background-color: rgb(236, 236, 236);
}

/* inizio bottoni */
.bottoni-add {
    background-color:white;
    padding: 15px 15px;
    margin: 0 185px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#task-button{
    border-radius: 3px;
    font-size: 12px;
    font-weight: 600;
    color: white;
    background-color: lightskyblue;
    border-color:lightskyblue;
}

#section-button{    
    border-radius: 3px;
    font-size: 12px;
    font-weight: 600;
    color: lightgray;
    background-color: white;
    border-color: lightgray;
}
/* fine bottoni */

/* inizio to-do-list */
.to-do-list{
background-color:white;
margin: 0 185px;
}

.list-name{
    padding: 30px 0 0;
    font-size: 20px;
    font-weight: 600;
    color: rgb(61, 61, 61);
}
/* fine to-do-list */
