*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* inizio header */
header{
    height: 75px;
    background-color: white;
}

#logo{
    padding: 10px 0;
    margin: 3px 0 3px 13px;
    vertical-align: middle;
}

#toboolist{
    font-size: 35px;
    vertical-align: middle;
}
/* fine header */

/* inizio main */
main{
    padding-top: 30px;
    background-color: rgb(236, 236, 236);
}

/* inizio bottoni */
.bottoni-add {
    background-color:white;
    padding: 15px 40px;
    margin: 0 185px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#task-button{
    box-sizing: content-box;
    padding: 2.5px 10px;
    border-radius: 3px;
    font-size: 12px;
    font-weight: 600;
    color: white;
    background-color: lightskyblue;
    border-color:lightskyblue;
}

#section-button{    
    box-sizing: content-box;
    padding: 2.5px 10px;
    border-radius: 3px;
    font-size: 12px;
    font-weight: 600;
    color: lightgray;
    background-color: white;
    border-color: lightgray;
}
/* fine bottoni */

/* inizio to-do-list */
.to-do-list{
    background-color:white;
    margin: 0 185px;
}

.list-name{
    padding: 30px 0 0;
    font-size: 20px;
    font-weight: 600;
    color: rgb(61, 61, 61);
    list-style:none;
}
.list-name::before{
    content: '\23F7';
}

.list-item{
    list-style: none;
    font-size: 17px;
    font-weight: 500;
    line-height: 40px;
}

.done{
    display: inline-block;
    height: 20px;
    width: 20px;
    border: 1px solid lightgreen;
    border-radius: 50%;
    vertical-align: middle;
    text-align: center;
    margin-left: -40px;
    margin-right: 10px;
    color: lightgreen;
}

.not-done{
    display: inline-block;
    height: 20px;
    width: 20px;
    border: 1px solid rgb(255, 106, 106);
    border-radius: 50%;
    vertical-align: middle;
    text-align: center;
    margin-left: -40px;
    margin-right: 10px;
    color:  rgb(255, 106, 106);
}

.classificazione{
    display: inline-block;
    height: 15px;
    border:1px solid;
    border-radius: 15px;
    margin-left: 10px;
    box-sizing: content-box;
    padding: 0 10px;
    font-size: 11px;
}
/* fine to-do-list */
